.contactPage{
    margin: 10px auto;
    position: relative;
}

.contactTitle{
    position: absolute;
    top: 40px;
    left: 230px;
}

.contact-info{
    display: flex;
    padding: 30px 30px 80px 80px ;
    background-color: whitesmoke;
    align-items: center;
    
   
}

.page1{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px 20px;
    gap: 20px;
}

.page1 > div:first-child{
    display: flex;
    justify-content: space-between;
}

.page1 > div:first-child > button{
    padding: 12px 130px;
    background-color: transparent;
    border: 1px solid red;
    font-weight: 600;
    color: red;
}

.page1 > div:nth-child(2){
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    gap: 10px;
}

.page1 > div:nth-of-type(2) > div{

    width: 600px;
}

.page1 > div:nth-child(2) > div > div{
    display: flex;
    gap: 10px;
}

.page1 > div:nth-child(2 )> div > p{
    font-size: 13px;
    color: gray;
}

.page1  > div:nth-child(2) > div:last-child{
    display: flex;
    gap: 10px;
    border: 1px solid red;
    color: red;
    font-weight: 600;
    justify-content: center;
    padding: 10px;
    
}

.page1 > div:last-child{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.page2{

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 30px;
    width: 400px;
    margin: 0 auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    font-size: 14px;
}

.page2 > h3{
    font-size: 18px;
}

.page2 > div:nth-of-type(1){
    display: flex;
    gap: 10px;
}

.page2 > div:nth-of-type(2){
    display: flex;
    gap: 10px;
}

.page2 > div:nth-of-type(3) > div{
    display: flex;
    gap: 10px;
}

.page2 > div:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page2 > div:nth-of-type(3) > p{
    margin-left: 30px;
}